body{
    background-color:rgb(218, 241, 236) ;
    text-align: center;
    box-sizing: border-box;
}
.cabecalho{
    margin: -15px -7px -15px -8px;
    background: rgb(205, 205, 205);
    border-width: 0.7px;
    border-color: #000;
    height: auto;
}
.brasil{
    height: 40px;
    margin-left: 90%;
}
.voltar{
      height: 50px;
      margin-right: 93%;
      margin-top: 10px;
  }
.logo{
    margin: 9%;
    position: relative;
    height: 250px;
}
.form{
    padding: 5px 5px 20px;
    margin-inline: 300px;
    border-width: 0.7px;
    border-radius: 10px;
    background: darkgrey;
}
.botaoenv:hover{
    background-color: rgb(92, 255, 155);
    color: black;
    width: 60px;
    height: 25px;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 10px;
}
.icon{
    margin: 50px;
    height: 25px;
}
.assign{
    width: 200px;
}
.divsacsave{
    margin: 0px 163px 0px 156px;
    border-width: 0.7px;
    border-radius: 10px;
    background: ghostwhite;
}
.atendimento{
    height: 100px;
}
.clivenexp{
    width: 100px;
}
.e{
    padding-top: 5px;
    height: 27px;
}
.inf{
    padding: 5px;
    height: 15px;
}
