body{
    margin: -2% 0% 0% 0%;
    background-color:rgb(218, 241, 236) ;
    text-align: center;
    box-sizing: border-box;
}
.cabecalho{
    background: rgb(205, 205, 205);
    border-width: 0.7px;
    border-color: #000;
    margin: -5% 0% 0% 0%;
}
.voltar{
    height: 30px;
    margin: 5% 0% 0% -85%;
}
.bandeira{
    position: absolute;
    margin: -108px 0% 0% 31%;
    height: 80px;
    transition: 1s;
}
.bandeira:hover{
    position: absolute;
    margin: -68px 0% 0% 31%;
    height: 80px;
    transition: 1s;
}
.logo{
    margin: 9%;
    position: relative;
    height: 150px;
}
.form{
    background: darckgray;
    display: inline-grid;
    padding: 30px 60px;
    margin: 50px;
    border-width: 0.5px;
    border-style: solid;
    border-radius: 10px;
}
label{
    margin:10px;
    font-weight: bold;
}
.botaoenv:hover {
    text-decoration: underline;
    border-style: solid;
}
.icon{
    margin: 50px;
    height: 25px;
}
.assign{
    width: 200px;
}
.divsacsave{
    border-width: 0.7px;
    border-radius: 10px;
    background: ghostwhite;
}
.atendimento{
    height: 100px;
}
img.doacao {
    display: grid;
    transform: rotate(-45deg);
    margin: 36px;
    height: 71px;
    justify-content: end;
}
a{
    display: contents;
}
.clivenexp{
    width: 200px;
}
.inf{
    padding: 5px;
    height: 15px;
}
